body {
  font-family: 'century-gothic-regular', sans-serif;
  color: #000000;
  background-color: #FFCCD2;
}

a {
  color: #5777ba;
  text-decoration: none;
}

a:hover {
  color: #7b94c9;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'century-gothic-regular', sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #5777ba;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #748ec6;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.95);
}
#header .header-transparent {
  background: transparent;
}
#header.header-scrolled {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#header .logo h1 {
  font-size: 30px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}
#header .logo h1 span {
  color: #e6d600;
  
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #02b419;
  text-decoration: none;
}
#header .logo img {
  margin: 0;
  max-height: 40px;
}

/**
# NAVBAR 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: 'century-gothic-regular',sans-serif;
  font-size: 15px;
  color: #000f66;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color:#02b419;
}
.navbar .getstarted, .navbar .getstarted:focus {
  background: #02b419;
  color: rgb(255, 255, 255);
  padding: 9px 15px;
  margin-left: 30px;
  color: #fff;
  line-height: 1;
  border-radius: 50px;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  background: #748ec6;
  color: #fff;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: rgb(249, 249, 255);
  box-shadow: 0px 0px 30px rgba(255, 253, 253, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #5777ba;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Navbar Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #47536e;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(51, 60, 79, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 6px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #47536e;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #5777ba;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #5777ba;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}




/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 650px;
  background-image: linear-gradient(rgb(41, 80, 252),#001275);
  overflow: hidden;
  position: relative;
}
#hero-profile {
  width: 100%;
  height: 150px;
  background-color: #161E54;
  overflow: hidden;
}

/* breadcrumb */
.breadcrumb{
  padding: 0.75rem 0rem;
  font-size: 0.9rem;
}
.breadcrumb  li.breadcrumb-item-profile.active{
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.breadcrumb-item-profile + .breadcrumb-item-profile::before {
 content: "»";
 padding-right: 0.2rem;
 color: rgb(255, 255, 255);
}
.breadcrumb-item-profile + .breadcrumb-item-profile {
  padding-left: 0.2rem;
  color: rgb(255, 255, 255);
}
.breadcrumb-item-profile a{
  color: #ffffff;
  text-decoration: none;
}
.breadcrumb-item-profile a:hover{
  color: #2a6496;
}
.breadcrumb-container-profile{
  height: 50px;
  background-color: #72147E;
}

#hero h1{
  margin-bottom: 20px;
  color:#e6d600;
  font-size: 50px;
  font-weight: 500;
  line-height: 56px;
  font-family:  'century-gothic-regular',sans-serif;
}
#hero h1 span{
  display: table-cell;
  animation: animate 1s linear infinite;
  color: white;
  font-family:  'century-gothic-regular',sans-serif;
  line-height: 60px;
}
#hero h2 {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 16px;
  text-align: justify;
  padding: 1px 0 20px 1;
  font-family: 'century-gothic-regular',sans-serif;
}
#hero h4{
  margin-bottom: 70px;
  font-family: 'century-gothic-regular',sans-serif;
  color: white;
  font-size: 20px;
}
#hero h3{
  margin-bottom: 200px;
  font-family: 'century-gothic-regular', sans-serif;
  color: white;
  font-size: 20px;
}
#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
    background-size: 30%;
  }
  #hero .hero-img img {
    width: 20%;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}
@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
#hero .carousel-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 60px;
  top: 70px;
  left: 55px;
  right: 55px;
}
#hero .carousel-content {
  background: rgba(4, 4, 4, 0.7);
  padding: 20px;
  color: #fff;
  border-top: 5px solid #1bbd36;
}
#hero .carousel-content h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}
#hero .btn-get-started {
  font-family: 'century-gothic-regular', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #1bbd36;
}
#hero .btn-get-started:hover {
  background: #1bbd36;
  color: #fff;
  text-decoration: none;
}
#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}
#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}
#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}
#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}
#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.6);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.8);
}
#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: 0.6;
  transition: 0.3s;
}
#hero .carousel-indicators li.active {
  opacity: 1;
  background: #1bbd36;
}
@media (min-width: 1024px) {
  #hero .carousel-content {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}
@media (max-width: 992px) {
  #hero .carousel-container {
    top: 58px;
  }
  #hero .carousel-content h2 {
    margin-bottom: 15px;
    font-size: 22px;
  }
  #hero .carousel-content p {
    font-size: 15px;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}
#hero .download-btn {
  font-family: 'century-gothic-regular', sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  padding: 8px 24px 10px 46px;
  border-radius: 3px;
  transition: 0.5s;
  color: #fff;
  background: #e6d600;
  position: relative;
  margin-bottom: 90px;
}
#hero .download-btn:hover {
  background: #f7fa50;
}
#hero .download-btn i {
  font-size: 20px;
  position: absolute;
  left: 18px;
  top: 8.5px;
}


/*--------------------------------------------------------------
# WORK (Content 2)
--------------------------------------------------------------*/
.work{
  background-image: linear-gradient(#001275,#3DB2FF);
  padding: 12px 0;
  text-align: center;
  align-items: center;
}
.work h5{
  color: #000f66;
  font-family: 'century-gothic-regular', sans-serif;
  padding-top: 20px;
}
.work img {
  width: 250px;
}
.work img:hover {
  filter: none;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .work img {
  max-width: 40%;
  }
}

/*--------------------------------------------------------------
# video (Content 3)
--------------------------------------------------------------*/
.video {
  background-color: #3DB2FF;
  margin-bottom: -10px;
}
.video video{
  width: 600px;
  height: 400px;
  border: 4px solid #000f66;
  border-radius: 50px;
  padding: 10px;
}
.video h2{
  text-align: center;
  color: #000f66;
  font-family: 'century-gothic-regular', sans-serif;
}
.video p{
  text-align: center;
}
.video h1{
  font-family: 'century-gothic-regular', sans-serif;
  color: #000f66;
}


/*--------------------------------------------------------------
# Picture (Content 4)
--------------------------------------------------------------*/
.picture{
  background-color: #3DB2FF;
  left: 90px;
}
.picture h2{
  text-align: center;
  font-family: 'century-gothic-regular', sans-serif;
}
.picture p{
text-align: center;
}
.picture h6{
text-align: center;
}
.picture .picture-item {
overflow: hidden;
border-top: 3px solid #ffae00;
border-right: 3px solid #ffae00;
border-bottom: 3px solid #ffae00;
border-left: 3px solid #ffae00;
}
.picture .picture-item img {
transition: all ease-in-out 0.4s;
}
.picture .picture-item:hover img {
transform: scale(1.1);
}



/* Tips belajar Section (Content 5)
--------------------------------*/
#features {
  display: inline-block;
  height: 100%;
  width: 100%;
}
#features h2{
  font-family: 'century-gothic-regular', sans-serif;
}
#features .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out 0s;
}
#features .feature-block img {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}
#features .feature-block:hover {
  box-shadow: 0 0 35px rgba(255, 190, 12, 0.884);
  transition: all 0.5s ease-in-out 0s;
}
#features .feature-block h4 {
  margin-bottom: 20px;
}
#features .feature-block p {
  margin-bottom: 0;
}
#features .features-carousel, .features .features-slider {
  overflow: hidden;
}
#features .features-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 10px 30px 50px;
  min-height: 200px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
  position: relative;
}
#features .feature-item .feature-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #5777ba;
  position: absolute;
  left: -45px;
}
.features .featur-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.features .feature-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
.features .feature-item .quote-icon-left, .features .feature-item .quote-icon-right {
  color: #e8ecf5;
  font-size: 26px;
}
.features .feature-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.features .feature-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.features .feature-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}
.features .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.features .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #5777ba;
}
.features .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #5777ba;
}

.home-content-login{
  margin-top: 90px;
  background-color:  #FFCCD2;
  margin-left: -40px;
}
.container-top-border{
  border-top: 1px solid rgba(216,216,216,0.5);
}
.rightRegisterForm-contact{
  border: 1px solid rgba(0, 0, 0, 0.5);
  max-width: 660px;
  min-height: 500px;
  border-radius: 4px;
  margin-top: 50px;
  margin-left: 30px;
}
.rightRegisterForm-login{
  max-width: 560px;
  min-height: 400px;
  border-radius: 5%;
  margin-top: 50px;
  margin-left: 10px;
}
.p-4{
  background-color: #000f66;
  border-radius: 5%;
  border-top-width: 7px;
  border-left-width: 7px;
  border-right-width: 7px;
  border-bottom-width: 7px;
  border-color: #e6d600;
  border-style: solid;
  position: relative;
}
.p-4 .form-group-login img{
  width: 80px;
  height: 80px;
  text-align: center;
}
.p-4 .form-group-login h4{
  text-align: center;
  color: #ffffff;
  font-family: 'century-gothic-regular', sans-serif;
}
.p-4 .form-group-login label{
  font-family: 'century-gothic-regular', sans-serif;
  color: white;
}
.forgot-text{
  text-decoration: none;
  color: #14bef0;
}
.login-page-button{
  background-color: #14bef0;
  color: #fff;
  font-size: 0.9rem;
  line-height: 2.0;
  display: block;
  margin: auto;
}

/*--------------------------------------------------------------
# Counts Section (Content 6)
--------------------------------------------------------------*/
.counts {
  padding: 30px 0;
  background-color: #000f66;
}
.counts .counters span {
  font-size: 48px;
  display: block;
  color: #e6d600;
  font-weight: 700;
}
.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: 'century-gothic-regular', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
}

/*--------------------------------------------------------------
# Gallery Section (Content 7)
--------------------------------------------------------------*/
.gallery {
  overflow: hidden;
  background: #3DB2FF;
}
.gallery h2{
  text-align: center;
  font-family: 'century-gothic-regular', sans-serif;
}
.gallery p{
  text-align: center;
}
.gallery .swiper-slide {
  transition: 0.3s;
}
.gallery .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.gallery .swiper-text h6{
  text-align: center;
}
.gallery .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #5777ba;
}
.gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #5777ba;
}
.gallery .swiper-slide-active {
  text-align: center;
}
@media (min-width: 992px) {
  .gallery .swiper-wrapper {
    padding: 40px 0;
  }
  .gallery .swiper-slide-active {
    border: 6px solid #e6d600;
    padding: 4px;
    background: #fff;
    z-index: 1;
    transform: scale(1.2);
    margin-top: 10px;
    border-radius: 25px;
  }
}

/*--------------------------------------------------------------
# Testimonials (Content 8)
--------------------------------------------------------------*/
.testimonials {
  background-color: #3DB2FF;
  text-align: center;
  padding-bottom: 90px;
}
.testimonials h2{
  font-family: 'century-gothic-regular', sans-serif;
}
.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 10px 30px 50px;
  min-height: 200px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
  position: relative;
  /* background: #e6d600; */
  background-image: url('https://i.postimg.cc/ZqhN9mwm/testi.png');
  background-size: cover;
}
.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  left: -45px;
}
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #e8ecf5;
  font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 10px auto;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #5777ba;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #5777ba;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  background: #000f66;
  background-size: cover;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #eff2f8;
  text-align: center;
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  color: #ffffff;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px #000000;
  text-align: left;
}
#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #5777ba;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type=submit]:hover {
  background: #415f9d;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #000f66;
  background-size: cover;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
  font-weight: 100;
}
#footer .footer-top .footer-contact h3 {
  text-align: left;
  font-weight: 100;
}
#footer .footer-top .footer-contact p {
  text-align: left;
  font-weight: 100;
}
#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  color: #fff;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'century-gothic-regular', sans-serif;
  color: #fff;
}
#footer .footer-top h4 {
  font-size: 16px;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 10px;
  font-weight: 100;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #5777ba;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #e6d600;
  color: #001275;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #000000;
  color: #fff;
  text-decoration: none;
}
#footer .copyright{
  text-align: center;
  float: center;
  color: #fff;
  font-weight: 400;
}
#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
@media (max-width: 768px) {
  #footer .copyright, #footer .credits {
    float: none;
    text-align: center;
    padding: 5px 0;
  }
}

/*--------------------------------------------------------------
# Footer Login
--------------------------------------------------------------*/
#footerbg {
  margin-top: 60px;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  background: #C37B89;
  background-size: cover;
}

#footerbg .footer-newsletter {
  padding: 50px 0;
  background: #eff2f8;
  text-align: center;
  font-size: 15px;
}
#footerbg .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  color: #ffffff;
}
#footerbg .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px #000000;
  text-align: left;
}
#footerbg .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footerbg .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #5777ba;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footerbg .footer-newsletter form input[type=submit]:hover {
  background: #415f9d;
}
#footerbg .footer-top {
  padding: 60px 0 30px 0;
  background: #C37B89;
}
#footerbg .footer-top .footer-contact {
  margin-bottom: 30px;
  font-weight: 100;
}
#footerbg .footer-top .footer-contact h3 {
  text-align: left;
  font-weight: 100;
}
#footerbg .footer-top .footer-contact p {
  text-align: left;
  font-weight: 100;
}
#footerbg .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  color: #fff;
}
#footerbg .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'century-gothic-regular', sans-serif;
  color: #fff;
}
#footerbg .footer-top h4 {
  font-size: 16px;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footerbg .footer-top .footer-links {
  margin-bottom: 30px;
  font-weight: 100;
}
#footerbg .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footerbg .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}
#footerbg .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footerbg .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footerbg .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footerbg .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #5777ba;
}
#footerbg .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #FFCCD2;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footerbg .footer-top .social-links a:hover {
  background: #000000;
  color: #fff;
  text-decoration: none;
}
#footerbg .copyright{
  text-align: center;
  float: center;
  color: #fff;
  font-weight: 400;
}
#footerbg .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
@media (max-width: 768px) {
  #footerbg .copyright, #footerbg .credits {
    float: none;
    text-align: center;
    padding: 5px 0;
  }
}

.widget {
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.widget h2, .widget h3 {
font-size: 30px;
margin-top: 5px;
margin-bottom: 0;
}

.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}

.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0,0,0,0.2);
}

.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}

.info-box-text {
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.navy-bg, .bg-primary {
  background-color: #1ab394;
  color: #ffffff;
}

.lazur-bg, .bg-info {
  background-color: #23c6c8;
  color: #ffffff;
}

.yellow-bg, .bg-warning {
  background-color: #f8ac59;
  color: #ffffff;
}

.red-bg, .bg-danger {
  background-color: #ED5565;
  color: #ffffff;
}

.bg-aqua, .aqua-bg {
  background-color: #00c0ef !important;
}

.bg-green, .green-bg {
  background-color: #00a65a !important;
}

.bg-red {
background-color: #ED5565 !important;
}

.bg-navy {
  background-color: #1ab394 !important;
}

.gray-bg, .bg-muted {
  background-color: #f3f3f4;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 2px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 15px 7px;
  min-height: 48px;
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  clear: both;
}







